<div id="editFolder" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span ng-show="!editingExisting"><span class="fa fa-folder"></span><span translate>Add Folder</span></span>
          <span ng-show="editingExisting"><span class="fa fa-pencil"></span><span translate>Edit Folder</span></span>
        </h4>
      </div>
      <div class="modal-body">
        <form role="form" name="folderEditor">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" ng-class="{'has-error': folderEditor.folderID.$invalid && folderEditor.folderID.$dirty}">
                <label for="folderID"><span translate>Folder ID</span></label>
                <input name="folderID" ng-readonly="editingExisting" id="folderID" class="form-control" type="text" ng-model="currentFolder.id" required unique-folder></input>
                <p class="help-block">
                  <span translate ng-if="folderEditor.folderID.$error.uniqueFolder">The folder ID must be unique.</span>
                  <span translate ng-if="folderEditor.folderID.$error.required && folderEditor.folderID.$dirty">The folder ID cannot be blank.</span>
                </p>
              </div>
              <div class="form-group" ng-class="{'has-error': folderEditor.folderPath.$invalid && folderEditor.folderPath.$dirty}">
                <label translate for="folderPath">Folder Path</label>
                <input name="folderPath" ng-readonly="editingExisting" id="folderPath" class="form-control" type="text" ng-model="currentFolder.path" list="directory-list" required />
                <datalist id="directory-list">
                  <option ng-repeat="directory in directoryList" value="{{ directory }}" />
                </datalist>
                <p class="help-block">
                  <span translate ng-if="folderEditor.folderPath.$valid || folderEditor.folderPath.$pristine">Path to the folder on the local computer. Will be created if it does not exist. The tilde character (~) can be used as a shortcut for</span> <code>{{system.tilde}}</code>.
                  <span translate ng-if="folderEditor.folderPath.$error.required && folderEditor.folderPath.$dirty">The folder path cannot be blank.</span>
                </p>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" ng-click="saveFolder()" ng-disabled="folderEditor.$invalid">
          <span class="fa fa-check"></span>&nbsp;<span translate>Save</span>
        </button>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
          <span class="fa fa-times"></span>&nbsp;<span translate>Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
